@{
    ViewBag.Title = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-4 col-sm-6 ">
        <div class="x_panel fixed_height_200">
            <div class="x_title">
                <h2>Reporte de Productos</h2>
                
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <h4>Registros de productos ingresados en el sistema</h4>
                <div class="clearfix"></div>
                    <center>
                       <input type="button" value="Generar Reporte" class="btn btn-success" />
                    </center>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 ">
        <div class="x_panel fixed_height_200">
            <div class="x_title">
                <h2>Reporte de Clientes</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <h4>Registros de clientes ingresados en el sistema</h4>
                <div class="clearfix"></div>
                <center>
                    <input type="button" value="Generar Reporte" class="btn btn-success" />
                </center>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 ">
        <div class="x_panel fixed_height_200">
            <div class="x_title">
                <h2>Reporte de Ventas</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <h4>Registros de ventas ingresados en el sistema</h4>
                <div class="clearfix"></div>
                <center>
                    <input type="button" value="Generar Reporte" class="btn btn-success" />
                </center>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 ">
        <div class="x_panel fixed_height_200">
            <div class="x_title">
                <h2>Reporte de Proveedores</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <h4>Registros de proveedores ingresados en el sistema</h4>
                <div class="clearfix"></div>
                <center>
                    <input type="button" value="Generar Reporte" class="btn btn-success" />
                </center>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 ">
        <div class="x_panel fixed_height_200">
            <div class="x_title">
                <h2>Reporte de Empleados</h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <h4>Registros de empleados ingresados en el sistema</h4>
                <div class="clearfix"></div>
                <center>
                    <input type="button" value="Generar Reporte" class="btn btn-success" />
                </center>
            </div>
        </div>
    </div>
</div>