@page
@model EasyPos.Pages.Categorias.DeleteModel

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <strong>¿Estás seguro que deseas eliminar?</strong>
                    <h4>Categorías</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CategoriaProducto.Descripcion)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CategoriaProducto.Descripcion)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CategoriaProducto.Estado)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CategoriaProducto.Estado)
                        </dd>
                    </dl>
    
                    <form method="post">
                        <input type="hidden" asp-for="CategoriaProducto.CategoriaId" />
                        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                        <a asp-page="./Index">Regresar al listado</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
