@page
@model EasyPos.Pages.Categorias.EditModel

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="x_panel">
                <div class="x_title">
                    <h4>Categorías</h4>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-md-4">
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="CategoriaProducto.CategoriaId" />
                                <div class="form-group">
                                    <label asp-for="CategoriaProducto.Descripcion" class="control-label"></label>
                                    <input asp-for="CategoriaProducto.Descripcion" class="form-control" />
                                    <span asp-validation-for="CategoriaProducto.Descripcion" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="CategoriaProducto.Estado" /> @Html.DisplayNameFor(model => model.CategoriaProducto.Estado)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div>
                        <a asp-page="./Index">Regresar al listado</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
