@page
@model EasyPos.Pages.Clientes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="x_panel">
            <div class="x_title">
                <h5>Nuevo</h5>

                <h4>Cliente</h4>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-md-4">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Cliente.Dni" class="control-label"></label>
                                <input asp-for="Cliente.Dni" class="form-control" />
                                <span asp-validation-for="Cliente.Dni" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Cliente.Nombre" class="control-label"></label>
                                <input asp-for="Cliente.Nombre" class="form-control" />
                                <span asp-validation-for="Cliente.Nombre" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Cliente.Direccion" class="control-label"></label>
                                <input asp-for="Cliente.Direccion" class="form-control" />
                                <span asp-validation-for="Cliente.Direccion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Cliente.Telefono" class="control-label"></label>
                                <input asp-for="Cliente.Telefono" class="form-control" />
                                <span asp-validation-for="Cliente.Telefono" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Cliente.Estado" /> @Html.DisplayNameFor(model => model.Cliente.Estado)
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Registrar" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <a asp-page="Index">Regresar al listado</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
